html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.header__nav {
  align-items: center;
  display: flex;
  justify-content: center;
}

.commerce__container h2, .payments__container h2 {
  font-family: "font-millik";
  font-size: 35px;
  line-height: 44px;
  font-weight: 500;
  color: #1d1d1d;
}
@media (min-width: 601px) {
  .commerce__container h2, .payments__container h2 {
    font-size: 50px;
    line-height: 56px;
  }
}
@media (min-width: 901px) {
  .commerce__container h2, .payments__container h2 {
    font-size: 80px;
    line-height: 86px;
  }
}

@font-face {
  font-family: "font-moderat-light";
  src: url("../../fonts/Moderat-Light.woff2") format("woff2"), url("../../fonts/Moderat-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "font-moderat-regular";
  src: url("../../fonts/Moderat-Regular.woff2") format("woff2"), url("../../fonts/Moderat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "font-moderat-medium";
  src: url("../../fonts/Moderat-Medium.woff2") format("woff2"), url("../../fonts/Moderat-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "font-moderat-bold";
  src: url("../../fonts/Moderat-Bold.woff2") format("woff2"), url("../../fonts/Moderat-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "font-millik";
  src: url("../../fonts/Millik.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*,
*:after,
*:before {
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: "font-moderat-regular";
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  outline: none;
}

#main {
  display: block;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.pt-10 {
  padding-top: 10px;
}

.mb-18 {
  margin-bottom: 18px;
}

.mb-68 {
  margin-bottom: 68px;
}

@media (min-width: 901px) {
  .mb-lg-0 {
    margin-bottom: 0px !important;
  }
}

@media (min-width: 901px) {
  .pb-lg-10 {
    padding-bottom: 10px !important;
  }
}

@media (min-width: 901px) {
  .mt-lg-8 {
    margin-top: -8%;
  }
}

.container {
  max-width: 1680px;
  margin: 0 auto;
}

.image_wrapper {
  position: relative;
}

.image__main {
  object-fit: cover;
  width: 100%;
}

.feature {
  margin-bottom: 60px;
}
@media (min-width: 901px) {
  .feature {
    margin-bottom: 100px;
  }
}

.feature p {
  font-size: 18px;
  line-height: 28px;
  padding-left: 4px;
}
@media (min-width: 601px) {
  .feature p {
    font-size: 20px;
    padding-left: 5px;
  }
}

.feature a {
  font-family: "font-moderat-medium";
  display: flex;
  align-items: center;
  font-size: 16px;
  border-radius: 5px;
  filter: none;
  padding: 4px 5px;
  color: #fb4e20;
  cursor: pointer;
  width: fit-content;
}
.feature a:hover span img {
  margin-left: 15px;
  transition: all 0.3s ease;
}

.feature a span img {
  width: 7.2px;
  height: 10.8px;
  flex: 0 0 auto;
  height: auto;
  margin-left: 9px;
  margin-top: 4px;
}

.header {
  padding: 16px 0 0;
  overflow-x: hidden;
}
@media (min-width: 901px) {
  .header {
    padding: 30px 20px 0;
  }
}

.header__nav {
  justify-content: space-between;
  padding: 0 20px 0 10px;
  margin-bottom: 39px;
}
@media (min-width: 901px) {
  .header__nav {
    padding: 0px;
    max-width: 1092px;
    margin: 0 auto;
  }
}

.header__logo {
  width: 185px;
}

.header__nav__list {
  display: none;
}
@media (min-width: 901px) {
  .header__nav__list {
    display: flex;
    align-items: center;
    max-width: 811px;
    gap: 15px;
  }
}

.header__nav__item {
  padding: 10px 12px;
  font-size: 15px;
  line-height: 18px;
  color: #262c55;
  font-family: "font-moderat-medium";
  cursor: pointer;
}

.header__btn {
  display: none;
}
@media (min-width: 901px) {
  .header__btn {
    display: block;
    padding: 15px 50px;
    font-size: 14px;
    line-height: 17px;
    border-radius: 10px;
    background-color: #eeeeee;
    font-family: "font-moderat-regular";
  }
}
.header__btn:hover {
  background-color: #22263c;
  color: #ffffff;
  transition: all 0.3s ease;
}

#nav__dropdown {
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: 100%;
}
@media (min-width: 901px) {
  #nav__dropdown {
    display: none !important;
  }
}

.nav__dropdown__menuFill {
  border-bottom: 0.5px dashed rgba(0, 0, 0, 0.2);
  border-radius: 0;
  padding-bottom: 18px;
}

.nav__dropdown__menuFill h4 {
  font-size: 12px;
  margin-bottom: 14px;
  padding: 0 20px;
  cursor: auto;
  color: #686868;
  font-family: "font-moderat-medium";
}

.dropdown__content,
.nav__dropdown__menu {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.nav__dropdown__menu {
  flex-direction: column;
}

.dropdown__content img {
  margin-right: 14px;
  width: 42px;
  height: 42px;
}

.dropdown__content__text h6,
.nav__dropdown__menu h6 {
  margin-bottom: 6px;
  font-family: "font-moderat-bold";
  color: #262c55;
  line-height: 18px;
  font-size: 15px;
}

.dropdown__content__text p,
.nav__dropdown__menu p {
  font-size: 14px;
  line-height: 17px;
  color: #262c55;
  font-family: "font-moderat-regular";
}

.dropdown__btn button {
  padding: 15px 50px;
  font-size: 14px;
  line-height: 17px;
  border-radius: 10px;
  background-color: #22263c;
  font-family: "font-moderat-regular";
  color: #ffffff;
  width: 100%;
}

.dropdown__btn {
  margin: 30px 20px;
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  height: 20px;
  width: 24px;
  border: 0px;
  padding: 3px;
  background: transparent;
  transition: all 250ms ease-out;
  cursor: pointer;
}
@media (min-width: 901px) {
  .menu {
    display: none;
  }
}

.menu:before,
.menu:after {
  content: "";
  width: 24px;
  height: 1.97px;
  border-radius: 10px;
  position: absolute;
  background: #403f3f;
  transition: all 250ms ease-out;
  will-change: transform;
}

.menu:before {
  transform: translateY(-9px);
  margin-top: 10px;
}

.menu:after {
  margin-top: 10px;
}

.burger:after {
  transform: translateY(9px);
}

.active.menu:before {
  transform: translateY(0) rotate(45deg);
  margin-top: 0px;
}

.active.menu:after {
  transform: translateY(0) rotate(-45deg);
  margin-top: 0px;
}

.hero {
  padding: 34px 20px 72px 20px;
  overflow-x: hidden;
}
@media (min-width: 601px) {
  .hero {
    padding: 53px 20px;
  }
}
@media (min-width: 901px) {
  .hero {
    padding: 95px 20px;
  }
}

.hero__card {
  width: 100%;
  max-width: 1092px;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.hero__info {
  max-width: 750px;
  flex: 0 1 auto;
}

.hero__card h4 {
  font-family: "font-millik";
  font-size: 50px;
  font-weight: 500;
  letter-spacing: -1.5;
  margin-bottom: 32px;
  width: 100%;
}
@media (min-width: 601px) {
  .hero__card h4 {
    font-size: 70px;
  }
}
@media (min-width: 901px) {
  .hero__card h4 {
    font-size: 100px;
    margin-bottom: 30px;
  }
}

.hero__card span {
  color: #fb9129;
}

.hero__card p {
  font-family: "font-moderat-light";
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 35px;
}
@media (min-width: 601px) {
  .hero__card p {
    max-width: 610px;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 40px;
  }
}

.hero__card button {
  background-color: #0a0e27;
  color: #ffffff;
  font-size: 3.7vw;
  line-height: 4vw;
  padding: 4.5vw 4.3vw;
  cursor: pointer;
  border-radius: 10px;
  font-family: "font-moderat-bold";
}
@media (min-width: 601px) {
  .hero__card button {
    padding: 21px 23px;
    font-size: 16px;
    line-height: 19px;
    transition: all 0.3s ease;
  }
}

.customers {
  padding: 0 20px 30px;
}
@media (min-width: 601px) {
  .customers {
    padding: 0px;
  }
}

.customer__content {
  display: flex;
  flex-direction: column;
}
@media (min-width: 601px) {
  .customer__content {
    flex-direction: unset;
    justify-content: space-between;
  }
}

.customer__content__item1 {
  margin-bottom: 30px;
}
@media (min-width: 601px) {
  .customer__content__item1 {
    width: calc(59.5% - 3.25rem);
    flex: 0 1 auto;
  }
}

.customer__content__item1 img {
  object-fit: cover;
  width: 100%;
}
@media (min-width: 601px) {
  .customer__content__item1 img {
    object-position: bottom right;
    height: 550px;
    margin-top: 46px;
  }
}
@media (min-width: 901px) {
  .customer__content__item1 img {
    height: 752px;
    margin-top: 24px;
  }
}

@media (min-width: 601px) {
  .customer__content__item2 {
    display: flex;
    flex-direction: column-reverse;
    width: calc(44% - 3.5rem);
    flex: 0 1 auto;
    margin-top: -155px;
  }
}
@media (min-width: 901px) {
  .customer__content__item2 {
    margin-top: -175px;
  }
}

.customer__content__item2 img {
  object-fit: cover;
  width: 100%;
}
@media (min-width: 601px) {
  .customer__content__item2 img {
    height: 500px;
  }
}
@media (min-width: 901px) {
  .customer__content__item2 img {
    height: 680px;
  }
}

.customer__content__item2 p {
  font-family: "font-moderat-light";
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 30px;
  max-width: 100%;
  color: #1d1d1d;
}
@media (min-width: 601px) {
  .customer__content__item2 p {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 46px;
    max-width: 380px;
  }
}
@media (min-width: 901px) {
  .customer__content__item2 p {
    margin-bottom: 105px;
  }
}

.businesses {
  padding: 20px;
  margin-top: 10px;
}
@media (min-width: 601px) {
  .businesses {
    margin-top: 90px;
  }
}

.business__container {
  max-width: 1092px;
  margin: 0 auto;
}

.business__text {
  font-family: "font-moderat-medium";
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 24px;
}
@media (min-width: 601px) {
  .business__text {
    font-size: 22px;
    line-height: 32px;
  }
}

.business__text b {
  font-family: "font-moderat-bold";
}

.business__list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: -18px;
  margin-right: -18px;
  color: #1d1d1d;
}
@media (min-width: 601px) {
  .business__list {
    margin-left: -25px;
    margin-right: -25px;
  }
}

.business__list :nth-child(5) img {
  height: 16px;
}
@media (min-width: 601px) {
  .business__list :nth-child(5) img {
    height: 26px;
  }
}

.business__logo {
  padding: 20px 18px;
}
@media (min-width: 601px) {
  .business__logo {
    padding: 20px 26px;
  }
}

.business__logo img {
  height: 21px;
  width: auto;
}
@media (min-width: 601px) {
  .business__logo img {
    height: 35px;
  }
}

.payments {
  padding: 20px;
}
@media (min-width: 601px) {
  .payments {
    padding: 170px 20px;
  }
}
@media (min-width: 901px) {
  .payments {
    padding: 190px 20px;
  }
}

.payments__container {
  max-width: 1092px;
  margin: 0 auto;
}

.payments__container h2 {
  margin-bottom: 58px;
  max-width: 650px;
}
@media (min-width: 601px) {
  .payments__container h2 {
    letter-spacing: -2px;
    word-spacing: 3px;
  }
}

.payments__features {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 901px) {
  .payments__features {
    flex-wrap: nowrap;
  }
}

.payments__container h2 span {
  color: #fb9129;
}

@media (min-width: 901px) {
  .payments__features__content {
    flex: 0 1 auto;
    width: calc(33.33333% - 40px);
  }
}

.payments__features__content h6 {
  font-family: "font-moderat-bold";
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 19px;
  padding-left: 5px;
  color: #050505;
}
@media (min-width: 601px) {
  .payments__features__content h6 {
    font-size: 24px;
  }
}

.payments__features__content p {
  font-family: "font-moderat-light";
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 30px;
  padding-left: 5px;
  color: #1d1d1d;
}
@media (min-width: 601px) {
  .payments__features__content p {
    font-size: 20px;
  }
}

.payments__features__content button {
  font-family: "font-moderat-medium";
  background-color: #0a0e27;
  border-radius: 10px;
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  padding: 15px 25px;
}

.payments__features__contentMedia {
  margin: 60px 0;
  max-width: 320px;
  flex: 0 1 auto;
  width: 100%;
  text-align: center;
}
@media (min-width: 901px) {
  .payments__features__contentMedia {
    margin: 0px;
  }
}

.payments__features__contentMedia img {
  max-height: 550px;
  object-position: left;
  width: 100%;
  height: auto;
  object-fit: contain;
  filter: drop-shadow(0 4px 20px rgba(0, 0, 0, 0.2));
}
@media (min-width: 601px) {
  .payments__features__contentMedia img {
    max-height: 650px;
  }
}

.commerce {
  padding: 20px;
}
@media (min-width: 601px) {
  .commerce {
    padding: 170px 20px;
  }
}

.commerce__container {
  max-width: 1092px;
  margin: 0 auto;
}

.commerce__container h2 {
  margin-bottom: 62px;
  letter-spacing: -0.7px;
}
@media (min-width: 601px) {
  .commerce__container h2 {
    letter-spacing: -2px;
    word-spacing: 3px;
    margin-bottom: 108px;
  }
}

.commerce__container h2 span {
  color: #35a162;
}

.commerce__features {
  margin-bottom: 88px;
}
@media (min-width: 601px) {
  .commerce__features {
    margin-bottom: 182px;
  }
}

@media (min-width: 901px) {
  .commerce__features :nth-child(2) {
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: flex-start;
  }
}

@media (min-width: 901px) {
  .commerce__features__content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }
}

@media (min-width: 901px) {
  .commerce__features__content :nth-child(2) {
    margin-left: 85px;
    width: 51%;
  }
}

.commerce__section {
  margin-bottom: 70px;
  padding-top: 0;
  width: 100%;
}
@media (min-width: 901px) {
  .commerce__section {
    margin-bottom: 0px;
    width: 350px;
  }
}

@media (min-width: 901px) {
  .commerce__section__card {
    height: auto;
    padding-top: 100px;
  }
}

.commerce__section__card h6,
.commerce__section h6 {
  font-family: "font-moderat-bold";
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 16px;
  padding-left: 5px;
  color: #050505;
}
@media (min-width: 601px) {
  .commerce__section__card h6,
  .commerce__section h6 {
    font-size: 24px;
    margin-bottom: 19px;
  }
}

.commerce__section__card p,
.commerce__section p {
  font-family: "font-moderat-light";
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 27px;
  padding-left: 5px;
  color: #1d1d1d;
}
@media (min-width: 601px) {
  .commerce__section__card p,
  .commerce__section p {
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 32px;
  }
}
@media (min-width: 901px) {
  .commerce__section__card p,
  .commerce__section p {
    width: 100% !important;
    margin-left: 0px !important;
  }
}

.commerce__section__card button {
  font-family: "font-moderat-medium";
  background-color: #0a0e27;
  border-radius: 10px;
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  padding: 15px 25px;
}

@media (min-width: 901px) {
  .figure1 {
    height: 648px;
  }
}

@media (min-width: 601px) {
  .figure2 {
    margin-bottom: 0px;
  }
}
@media (min-width: 901px) {
  .figure2 {
    height: 697px !important;
    margin-left: 0px !important;
    margin-right: 85px;
    width: 58% !important;
  }
}

@media (min-width: 901px) {
  .figure2 img {
    max-height: 648px;
  }
}

.img_caption {
  font-family: "font-moderat-medium" !important;
  font-size: 16px !important;
  line-height: 24px !important;
  margin-top: 20px !important;
  text-align: center;
  margin-bottom: 0px !important;
}
@media (min-width: 601px) {
  .img_caption {
    font-size: 18px !important;
    margin-top: 21px !important;
  }
}

.img_caption span,
.commerce__tools span {
  color: #35a162 !important;
}

.commerce__tools {
  color: #1d1d1d;
  font-family: "font-moderat-light";
  font-size: 36px;
  line-height: 50px;
  margin-bottom: 40px;
}
@media (min-width: 601px) {
  .commerce__tools {
    font-size: 50px;
    margin-bottom: 45px;
    line-height: 80px;
  }
}
@media (min-width: 901px) {
  .commerce__tools {
    font-size: 79px;
    line-height: 110px;
    margin-bottom: 48px;
  }
}

.commerce__btn {
  font-size: 3.7vw;
  line-height: 4vw;
  font-family: "font-moderat-medium";
  background-color: #0a0e27;
  border-radius: 10px;
  color: #ffffff;
  padding: 22px 28px;
}
@media (min-width: 601px) {
  .commerce__btn {
    padding: 28px 32px;
    font-size: 16px;
    line-height: 19px;
  }
}

@media (min-width: 901px) {
  .feature {
    width: 100% !important;
    margin-left: 0px !important;
  }
}

/*# sourceMappingURL=compile.css.map */
