.api {
  padding: 70px 20px;

  @include breakpoint-up(tablet) {
    padding: 160px 20px;
  }
}

.api__container {
  max-width: 1092px;
  margin: 0 auto;
}

.api__container h2 {
  @extend %heading;
  margin-bottom: 18px;
  letter-spacing: -0.7px;

  @include breakpoint-up(tablet) {
    letter-spacing: -2px;
    word-spacing: 3px;
    margin-bottom: 40px;
  }

  @include breakpoint-up(tablet) {
    max-width: 842px;
  }
}

.api__container h2 span {
  color: $carissma;
}

.api__container p {
  font-family: "font-moderat-light";
  margin-bottom: 31px;
  max-width: 619px;
  font-size: 18px;
  line-height: 28px;

  @include breakpoint-up(tablet) {
    font-size: 22px;
    margin-bottom: 40px;
  }
}

.api__list {
  margin-bottom: 70px;
}

.api__list li {
  font-family: "font-moderat-light";
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 26px;
  padding-left: 34px;
  position: relative;
}

.api__list li::before {
  background-color: $space-cadet;
  border-radius: 100%;
  content: "";
  height: 11px;
  left: 0;
  position: absolute;
  top: 9px;
  width: 20px;
}

.api__btn {
  font-family: "font-moderat-medium";
  background-color: $haiti;
  border-radius: 10px;
  color: $white;
  font-size: 3.7vw;
  line-height: 4vw;
  padding: 22px 28px;

  @include breakpoint-up(tablet) {
    padding: 28px 32px;
    font-size: 16px;
    line-height: 19px;
  }
}
