.cards {
  padding: 70px 20px;
  background-color: $cod-gray;
  color: $white;
  text-align: center;
  overflow: hidden;

  @include breakpoint-up(tablet) {
    padding: 160px 20px;
  }
}

.cards__container {
  max-width: 1092px;
  margin: 0 auto;
}

.cards__container h2 {
  @extend %heading;
  margin-bottom: 25px;
  letter-spacing: -0.7px;

  @include breakpoint-up(tablet) {
    letter-spacing: -2px;
    word-spacing: 3px;
    margin-bottom: 106px;
    max-width: 842px;
  }

  @include breakpoint-up(desktop) {
    font-size: 80px;
    max-width: 842px;
  }
}

.cards__container h2 span {
  color: $blue-marguerite;
}

.cards__container p {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 39px;
  max-width: 602px;
}

.cards__container button {
  font-family: "font-moderat-medium";
  margin-bottom: 65px;
  background-color: $white;
  color: $cod-gray;
  padding: 22px 28px;
  border-radius: 10px;
  font-size: 3.7vw;
  line-height: 4vw;
}
