.customers {
  padding: 0 20px 30px;

  @include breakpoint-up(tablet) {
    padding: 0px;
  }
}

.customer__content {
  display: flex;
  flex-direction: column;

  @include breakpoint-up(tablet) {
    flex-direction: unset;
    justify-content: space-between;
  }
}

.customer__content__item1 {
  margin-bottom: 30px;

  @include breakpoint-up(tablet) {
    width: calc(59.5% - 3.25rem);
    flex: 0 1 auto;
  }
}

.customer__content__item1 img {
  object-fit: cover;
  width: 100%;

  @include breakpoint-up(tablet) {
    object-position: bottom right;
    height: 550px;
    margin-top: 46px;
  }

  @include breakpoint-up(desktop) {
    height: 752px;
    margin-top: 24px;
  }
}

.customer__content__item2 {
  @include breakpoint-up(tablet) {
    display: flex;
    flex-direction: column-reverse;

    width: calc(44% - 3.5rem);
    flex: 0 1 auto;
    margin-top: -155px;
  }
  @include breakpoint-up(desktop) {
    margin-top: -175px;
  }
}

.customer__content__item2 img {
  object-fit: cover;
  width: 100%;

  @include breakpoint-up(tablet) {
    height: 500px;
  }

  @include breakpoint-up(desktop) {
    height: 680px;
  }
}

.customer__content__item2 p {
  font-family: "font-moderat-light";
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 30px;
  max-width: 100%;

  @include breakpoint-up(tablet) {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 46px;
    max-width: 380px;
  }

  @include breakpoint-up(desktop) {
    margin-bottom: 105px;
  }
}
