*,
*:after,
*:before {
  box-sizing: border-box;
  user-select: none;
}

body {
  @extend %cover;
  position: fixed;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  outline: none;
}
