*,
*:after,
*:before {
  box-sizing: border-box;
  user-select: none;
}

body {
  @extend %cover;

  font-family: "font-moderat-regular";
  color: $cod-gray;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  outline: none;
}

#main {
  display: block;

  @include breakpoint-up(desktop) {
    display: block !important;
  }
}

.mb-0 {
  margin-bottom: 0px !important;
}

.pt-10 {
  padding-top: 10px;
}

.mb-18 {
  margin-bottom: 18px;
}

.mb-68 {
  margin-bottom: 68px;
}

.mb-lg-0 {
  @include breakpoint-up(desktop) {
    margin-bottom: 0px !important;
  }
}

.pb-lg-10 {
  @include breakpoint-up(desktop) {
    padding-bottom: 10px !important;
  }
}

.mt-lg-8 {
  @include breakpoint-up(desktop) {
    margin-top: -8%;
  }
}

.container {
  max-width: 1680px;
  margin: 0 auto;
}

.image_wrapper {
  position: relative;
}

.image__main {
  object-fit: cover;
  width: 100%;
}

.feature {
  margin-bottom: 60px;

  @include breakpoint-up(desktop) {
    margin-bottom: 100px;
  }
}

.feature p {
  font-size: 18px;
  line-height: 28px;
  padding-left: 4px;

  @include breakpoint-up(tablet) {
    font-size: 20px;
    padding-left: 5px;
  }
}

.feature a {
  font-family: "font-moderat-medium";
  display: flex;
  align-items: center;
  font-size: 16px;
  border-radius: 5px;
  filter: none;
  padding: 4px 5px;
  color: $pomegranate;
  cursor: pointer;
  width: fit-content;

  &:hover span img {
    margin-left: 15px;
    transition: all 0.3s ease;
  }
}

.feature a span img {
  width: 7.2px;
  height: 10.8px;
  flex: 0 0 auto;
  height: auto;
  margin-left: 9px;
  margin-top: 4px;
}
