*,
*:after,
*:before {
  box-sizing: border-box;
  user-select: none;
}

body {
  @extend %cover;

  font-family: "font-moderat-regular";
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  outline: none;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.pt-10 {
  padding-top: 10px;
}

.mb-18 {
  margin-bottom: 18px;
}

.container {
  max-width: 1680px;
  margin: 0 auto;
}
