@font-face {
  font-family: "font-moderat-light";
  src: url("../../fonts/Moderat-Light.woff2") format("woff2"),
    url("../../fonts/Moderat-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "font-moderat-regular";
  src: url("../../fonts/Moderat-Regular.woff2") format("woff2"),
    url("../../fonts/Moderat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "font-moderat-medium";
  src: url("../../fonts/Moderat-Medium.woff2") format("woff2"),
    url("../../fonts/Moderat-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "font-moderat-bold";
  src: url("../../fonts/Moderat-Bold.woff2") format("woff2"),
    url("../../fonts/Moderat-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
